<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<!-- Flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


	<title>店舗詳細表示画面</title>

</head>

<body>
	<div class="nagoyameshi-wrapper">

		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/shops}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
							</ol>
						</nav>

						<!-- お気に入り追加　-->
						<div class="text-end">
							<div sec:authorize="isAnonymous()">

								<div>
									<a href="#">&#9825;
										お気に入り追加</a>
									<p>は有料会員が使用できます</a>
								</div>
							</div>

							<div sec:authorize="hasRole('ROLE_GENERAL')">

								<div>
									<a href="#">&#9825;
										お気に入り追加</a>
									<p>は有料会員が使用できます</a>
								</div>
							</div>

							<div sec:authorize="hasRole('ROLE_PREMIUM')">
								<div th:if="${isFavorite}">
									<a href="#"
										onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9829;
										お気に入り解除</a>
									<form method="post"
										th:action="@{/shops/__${shop.getId()}__/favorite/__${favorite.getId()}__/delete}"
										id="favorite-form" class="d-none"></form>
								</div>
								<div th:unless="${isFavorite}">
									<a href="#"
										onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9825;
										お気に入り追加</a>
									<form method="post" th:action="@{/shops/__${shop.getId()}__/favorite/create}"
										id="favorite-form" class="d-none"></form>
								</div>
							</div>
						</div>

						<h1 class="text-center" th:text="${shop.getName()}"></h1>

						<div th:if="${errorMessage}" class="alert alert-danger">
							<span th:text="${errorMessage}"></span>
						</div>

						<div class="mb-3">
							<img th:if="${shop.getImageName()}" th:src="@{/storage/__${shop.getImageName()}__}"
								class="card-img-top nagoyameshi-horizontal-card-image" alt="店舗画像">
						</div>

						<div class="container mb-4">
							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">ID</span>
								</div>

								<div>
									<span th:text="${shop.getId()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">店舗名</span>
								</div>

								<div>
									<span th:text="${shop.getName()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">カテゴリID</span>
								</div>

								<div>
									<span
										th:text="${shop.getCategory() != null ? shop.getCategory().getId() : '未分類'}"></span>
								</div>
							</div>


							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">予算</span>
								</div>

								<div>
									<span th:text="${shop.getBudget()}"></span>
								</div>
							</div>


							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">説明</span>
								</div>

								<div>
									<span th:text="${shop.getDescription()}"></span>
								</div>
							</div>


							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">住所</span>
								</div>

								<div>
									<span th:text="${shop.getAddress()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div>
									<span class="fw-bold">電話番号</span>
								</div>

								<div>
									<span th:text="${shop.getPhoneNumber()}"></span>
								</div>
							</div>
						</div>

						<div sec:authorize="isAnonymous()">
							<div class="card">
								<div class="card-body">
									<p class="card-text">予約するには<a th:href="@{/signup}">会員登録<a>が必要です。</p>
									<button type="submit" class="btn btn-primary nagoyameshi-btn">予約する</button>
								</div>
							</div>
						</div>

						<div sec:authorize="hasRole('ROLE_GENERAL')">
							<div class="card">
								<div class="card-body">
									<p class="card-text">予約するには<a href="#">有料会員登録<a>が必要です。</p>
									<button type="submit" class="btn btn-primary nagoyameshi-btn">登録する</button>
								</div>
							</div>
						</div>

						<div sec:authorize="hasRole('ROLE_PREMIUM')">
							<div class="card mb-4">
								<div class="card-body">
									<form method="get" th:action="@{/shops/__${shop.getId()}__/reservations/input}"
										th:object="${reservationInputForm}">
										<div class="form-group mb-2">
											<label for="fromReservationDate"
												class="col-form-label text-md-left fw-bold">予約日</label>
											<div th:if="${#fields.hasErrors('fromReservationDate')}"
												class="text-danger small mb-2" th:errors="*{fromReservationDate}"></div>
											<input type="text" class="form-control" th:field="*{fromReservationDate}">
										</div>

										<div class="form-group mb-2">
											<label for="fromReservationTime"
												class="col-form-label text-md-left fw-bold">予約時間</label>
											<div th:if="${#fields.hasErrors('fromReservationTime')}"
												class="text-danger small mb-2" th:errors="*{fromReservationTime}"></div>
											<input type="text" class="form-control" th:field="*{fromReservationTime}">
										</div>

										<div class="form-group mb-4">
											<label for="numberOfPeople"
												class="col-form-label text-md-left fw-bold">予約人数</label>
											<div th:if="${#fields.hasErrors('numberOfPeople')}"
												class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>
											<input type="number" class="form-control" th:field="*{numberOfPeople}"
												min="1">
										</div>

										<div class="form-group">
											<button type="submit"
												class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<p class="card-text pb-3">このお店のレビューは以下をクリック。</p>
								<a th:href="@{'/shops/' + ${shop.id} + '/reviews'}" class="nagoyameshi-btn">レビュー一覧</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</main>

		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

	<!-- Flatpickr -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	<script th:src="@{/js/flatpickr.js}"></script>

</body>

</html>