<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>
	<title>レビュー一覧画面</title>

</head>

<body>
	<div class="nagoyameshi-wrapper">

		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container nagoyameshi-container pb-6">
				<div class="row justify-content-center">
					<nav aria-label="breadcrumb" class="my-3">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							<li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
						</ol>
					</nav>

					<div class="col-xxl-9 col-xl-10 col-lg-11">

						<h1 class="mb-4 text-center">レビュー一覧</h1>

						<div class="d-flex justify-content-end">
							<a sec:authorize="hasRole('ROLE_PREMIUM')"
								th:href="@{/shops/{shopId}/reviews/register(shopId=${shop.getId()})}"
								class="btn text-white shadow-sm mb-3 nagoyameshi-btn">登録</a>
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th scope="col">ユーザー名</th>
									<th scope="col">レビュー</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="review : ${reviewPage}">
									<td th:text="${review.getUser().getName()}"></td>
									<td th:text="${review.getThought()}"></td>
									<td>
										<span sec:authorize="isAuthenticated()"
											th:if="${#authentication.principal.user.id == review.getUser().getId()}">
											<a
												th:href="@{|/shops/${shop.getId()}/reviews/${review.getId()}/edit|}">編集</a>
										</span>
									</td>
									<td>
										<span sec:authorize="isAuthenticated()"
											th:if="${#authentication.principal.user.id == review.getUser().getId()}">
											<a href="#" class="nagoyameshi-link-danger" data-bs-toggle="modal"
												th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
										</span>
									</td>

									<!-- 削除用モーダル -->
									<div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1"
										th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title"
														th:id="${'deleteReviewModalLabel' + review.getId()}"
														th:text="${review.getUser().getName() + 'さんのレビューを削除してもよろしいですか？'}"></h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="閉じる"></button>
												</div>
												<div class="modal-footer">
													<form method="post"
														th:action="@{/shops/__${shop.getId()}__/reviews/__${review.getId()}__/delete}">
														<button type="submit"
															class="btn nagoyameshi-btn-danger text-white shadow-sm">削除</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</main>

		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

</body>

</html>